:root {
    --var-font-color : #F3F0F0;
    --var-button-color : #FAA9CB;
    --var-primary-color : #0B7781;
    --var-secondary-color : #003853;
    --var-or-casser : #E0C559;
    --var-argent-casser : #A9A9A9;
    --var-bronze-casser : #9B5530;
    --var-black-color : #000000;
}
