:root {
    --font-color : #F3F0F0;
    --button-color : #FAA9CB;
    --primary-color : #0B7781;
    --secondary-color : #003853;
    --or-color : #E0C559;
    --argent-color : #A9A9A9;
    --bronze-color : #9B5530;
    --black-color : #000000;
}
