main {
    gap: 20px;
    padding: var(--secondary-padding);   
}

section {
    background-color: var(--primary-color);
    border-radius: var(--secondary-radius); 
    padding: var(--secondary-padding);
    gap: 20px;
}

section div{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: var(--secondary-padding);
    background-color: var(--primary-color);
    border-radius: var(--secondary-radius);
}

section div article:first-of-type{
    grid-column: 1/2;
    background-color: var(--font-color);
    height: max-content;
}

section div article:last-of-type{
    grid-column: 2/3;
    padding: 20px;
    height: max-content;
    background-color: var(--font-color);
}

article {
    grid-column: 1 2;
    padding: var(--secondary-padding);
    background-color: var(--font-color);
    border-radius: var(--secondary-radius);
}
article img {
    width: 100%;
    border-radius: var(--primary-margin);
}

h1{
    text-align: left;
    font-size: 3em;
    color: var(--font-color);
    font-family: var(--primary-font);
    margin: 0 0 0 20px;
}
article p {
    text-align: justify;
    line-height: 1.6;
    color: var(--black-color);
    font-family: var(--primary-font);
}
.btn {
    display: block;
    width: 200px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: var(--secondary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    font-family: var(--primary-font);
}
.btn:hover {
    background-color: var(--button-color);
    color: var(--secondary-color);
}

/* Tableau de droite */
.palmares {
    grid-column: 8 / 12;
    height: 50%;
    background-color: #ffffff;
    padding: var(--primary-padding);
    border-radius: var(--secondary-radius);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.palmares h2 {
    text-align: center;
    color: var(--black-color);
    font-family: var(--primary-font);
}
.palmares table {
    width: 100%;
    border-collapse: collapse;
}
.palmares td, .palmares th {
    text-align: center;
    padding: var(--primary-padding) 0;
}
.palmares th {
    font-family: var(--primary-font);
    font-weight: bolder;
    font-size: large;
}
.palmares img {
    width: 1em;
}
.palmares table tr td:last-of-type{
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: large;
}

.palmares table tr td:first-of-type{
    font-family: var(--primary-font);
    color: var(--secondary-color);
    border-radius: 12px;
    background-color: var(--button-color);
    font-weight: bold;
}

.palmares table td{
    padding: var(--primary-padding);
}

.mtn{
    background-color: var(--secondary-color);
    border-radius: 10px;
    width: 725px;
    text-align: center;
}

/* Réseaux*/
.reseaux {
    grid-column: 8 / 12;
    height: 50%;
    background-color: #ffffff;
    padding: var(--primary-padding);
    border-radius: var(--secondary-radius);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reseaux h2 {
    text-align: center;
    color: var(--black-color);
    font-family: var(--primary-font);
}
.reseaux table {
    width: 100%;
    border-collapse: collapse;
}
.reseaux td, .reseaux th {
    text-align: center;
    padding: var(--primary-padding) 0;
}
.reseaux th {
    font-family: var(--primary-font);
    font-weight: bolder;
}
.reseaux img {
    width: 3em;
}
.reseaux table tr td a:last-of-type{
    font-family: var(--primary-font);
    color: var(--black-color);
    font-size: large;
}

.reseaux table tr td:first-of-type{
    border-radius: 12px;
}

.reseaux table td{
    padding: var(--primary-padding);
}