@import "../contents/css/style.css";

main {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 4.5em 12em minmax(10em, auto) 25em;
    grid-template-areas: 
        "head head head"
        "epreuve planning resultats"
        "epreuve tempsfort resultats"
        "record tempsfort carte";
    overflow: hidden;
    max-width: 100%;
}

h1, article {
    color: var(--font-color);
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    border-radius: 10px;
}

h1 {
    font-size: 2em;
    grid-area: head;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0;
    margin-right: 10px;
    margin-left: 10px;
}

h2, strong {
    font-size: 1.25em;
    text-align: center;
}

main p, main li {
    font-size: 0.85em;
}

article {
    padding: 1em;
    box-sizing: border-box;
    margin: 5px 15px;
}

article:nth-of-type(1) {
    grid-area: epreuve;
}

article:nth-of-type(2) {
    grid-area: record;
}

article:nth-of-type(3) {
    grid-area: planning;
}

article:nth-of-type(4) {
    grid-area: tempsfort;
    justify-content: center;
}

article:nth-of-type(5) {
    grid-area: resultats;
}

article:nth-of-type(6) {
    grid-area: carte;
    overflow: hidden;
}

figcaption {
    opacity: 0;
}

strong {
    font-size: 1em;
    font-weight: bolder;
}

article:nth-of-type(6):hover img {
    animation: retrecirImage 0.5s forwards;
}

article:nth-of-type(6):hover figcaption {
    animation: montrerFigCaption 0.5s forwards;
}

main img {
    border-radius: 10px;
    transition: transform 0.5s;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

article:nth-of-type(6):not(:hover) img {
    animation: grandirImage 0.5s forwards;
}

@keyframes retrecirImage {
    0% { transform: scale(1); }
    100% { transform: scale(0.8); }
}

@keyframes montrerFigCaption {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes grandirImage {
    0% { transform: scale(0.8); }
    100% { transform: scale(1); }
}

/* Design responsif */
@media (max-width: 1200px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "head head"
            "epreuve planning"
            "resultats tempsfort"
            "record carte";
    }
    main h1
    {
        height: 1.5em;
        margin-bottom: 1.5em;
    }
    article {
        padding: 0.5em;
    }

    article:nth-of-type(1) figure
    {
        display: none;
    }
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "head"
            "epreuve"
            "planning"
            "resultats"
            "tempsfort"
            "record"
            "carte";
    }

    main h2, strong {
        font-size: 2em;
    }

    p, li, figcaption {
        font-size: 1.75em;
    }

    article:nth-of-type(1)
    {
        margin-top: 0.3em;
        padding-top: 0;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2.5em;
    }

    h2, strong {
        font-size: 1.5em;
    }



    p, li, figcaption {
        font-size: 1em;
    }
}
