@import "../contents/css/style.css";

main
{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 1fr 2fr minmax(1fr, auto) 2fr;
    grid-template-areas: "head head head"
                         "epreuve planning resultats"
                         "epreuve tempsfort resultats"
                         "record tempsfort carte";
}

h1, article
{
    color: var(--font-color);
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    border-radius: 10px;
}

h1
{
    font-size: 4em;
    grid-area: head;
    text-align: center;
}

h2
{
    font-size: 2.5em;
    text-align: center;
}

p, li, figcaption
{
    font-size: 1.5em;
}

article:nth-of-type(1)
{
    grid-area: epreuve;
}

article:nth-of-type(2)
{
    grid-area: record;
}

article:nth-of-type(3)
{
    grid-area: planning;
}

article:nth-of-type(4)
{
    grid-area: tempsfort;
    justify-content: center;
}

article:nth-of-type(5)
{
    grid-area: resultats;
}

article:nth-of-type(6)
{
    grid-area: carte;
}